{% for m in movies %}
<div>
    <li><a href="/comment/{{ m.m_id }}/">{{ m.m_name }}</a></li>
</div>
{% endfor %}
<div>
    {% if movies.has_previous %}
        <a href="?page={{ movies.previous_page_number }}" > < Pre</a>
    {% endif %}
<span>
    {% for pg in movies.paginator.page_range %}
        {% if movies.number == pg %}
            <li class="'active"><a href="?page={{ pg }}">{{ pg }}</a> </li>
            {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
    {% endfor %}

</span>
{% if movies.has_next %}
        <a href="?page={{ movies.next_page_number }}" > Next ></a>
    {% endif %}
</div>
